retries=0
while :
do
  if wp core install --url="site01.ru" --title="test blog" --admin_user="admin" --admin_password="pass" --admin_email="admin@sample.com"
  then
    break
  else
    retries=$((retries+1))
    echo "Couldn't connect to DB. Try - ${retries}. Sleeping 5 seconds and will retry ..."
    sleep 5
  fi
  if [ "${retries}" -eq "30" ]
  then
    echo "Couldn't connect to DB 30 times. Exiting."
    exit 1
  fi
done
wp theme install donovan --activate
wp theme uninstall twentynineteen
wp theme uninstall twentyseventeen
wp theme uninstall twentytwenty
wp plugin install wordpress-importer --activate
wp plugin install classic-editor --activate
wp plugin install wp-mail-smtp --activate
wp plugin install cyr3lat --activate
wp plugin install wordpress-seo --activate
wp plugin uninstall akismet
wp plugin uninstall hello
wp language core install ru_RU --activate
# curl -O https://raw.githubusercontent.com/manovotny/wptest/master/wptest.xml
curl -O https://serveradmin.ru/files/sample-content.xml
wp import sample-content.xml --authors=create
rm sample-content.xml
